<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Security Hello</title>
</head>
<body>
<form name='register-form' th:action="@{/afterRegister}" method='POST'>
    <!--/*@thymesVar id="message" type="ch"*/-->
    <div th:utext="${message}" style="color: red"></div></td>
    <table>
        <tr>
            <td>Full Name:</td>
            <td><input type='text' name='fullname' value=''></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type='email' name='email' value=''></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type='password' name='password' /></td>
        </tr>
        <tr>
            <td>Confirm:</td>
            <td><input type='password' name='confirm' /></td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td>
                <select name="gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Birhday:</td>
            <td><input type='date' name='birthday' value=''></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit" /></td>
        </tr>
    </table>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"/>
<script>
    $(function () {
        $.validate({
            rules:
                {
                    password: "required",
                    confirm: "required",
                    birthday: "required",
                    fullname: "required",
                    email: {
                        required: true,
                        email: true
                    }
                },
            messages:{
                email: {
                    required: true,
                    email: true
                }
            },
            password: {
                required: " Please enter password"
            },
            confirm: {
                required: " Please enter password"
            },
            birthday: {
                required: " Please enter birthdate"
            },
            email: {
                required: ' Please enter email',
                email: ' Please enter valid email'
            }
        });
    });
</script>
</body>
</html>